Repository julianstephens/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --ignore-unknown --write"
}

Add husky pre-commit hook
  client/Dockerfile
  client/package.json
  client/yarn.lock
  package.json
Due: none

Update docs
  CHANGELOG.md
  README.md
Due: prettier --ignore-unknown --write

Remove nested husky installs
  api/package.json
  api/yarn.lock
  client/package.json
  client/yarn.lock
Due: none

Update package.json
  api/package.json
Due: none

Add prettier and eslint config
  .eslintrc.js
  .prettierrc.js
  api/.editorconfig
  api/.eslintignore
  api/.eslintrc
  api/.vscode/settings.json
  api/package.json
  api/src/app.ts
  api/tsconfig.json
  api/yarn.lock
  client/.eslintrc.js
Due: eslint, prettier --ignore-unknown --write

Add husky postinstall
  package.json
Due: none

Add root code:clean script. Fix api imports
  .husky/pre-commit
  api/src/app.ts
  api/src/db/db-context.ts
  api/src/middlewares/error-handler.middleware.ts
  api/src/utils/error.ts
  api/src/utils/logger.ts
  package.json
Due: eslint, prettier --ignore-unknown --write

Add poetic to client
  client/package.json
  client/yarn.lock
Due: none

Fix eslint errors
  .eslintignore
  .eslintrc.js
  .husky/pre-commit
  LICENSE.txt
  api/.prettierrc.js
  api/package.json
  api/src/app.ts
  api/src/db/db-context.ts
  api/src/middlewares/jwt.middleware.ts
  api/src/utils/error.ts
  api/src/utils/logger.ts
  client/package.json
  client/src/app/app-routing.module.ts
  client/src/app/app.component.spec.ts
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/app/components/auth-button/auth-button.component.ts
  client/src/app/components/home/home.component.spec.ts
  client/src/app/services/api.service.spec.ts
  client/src/app/services/api.service.ts
  client/src/app/services/auth.service.spec.ts
  client/src/app/services/env-provider.service.spec.ts
  client/src/app/services/local-storage.service.spec.ts
  client/src/app/services/local-storage.service.ts
  client/src/environments/auth0-vars.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
  client/src/main.ts
  client/src/polyfills.ts
  client/src/test.ts
  package.json
  yarn.lock
Due: eslint, prettier --ignore-unknown --write

Convert api to use esm modules. Move eslint/prettier config to project root
  .editorconfig
  .eslintignore
  .eslintrc
  .eslintrc.js
  .prettierrc.cjs
  .prettierrc.js
  LICENSE.txt
  api/.eslintignore
  api/.prettierrc
  api/.prettierrc.js
  api/Dockerfile
  api/package.json
  api/src/app.ts
  api/src/db/db-context.ts
  api/src/middlewares/error-handler.middleware.ts
  api/src/routes/pong.routes.ts
  api/src/utils/error.ts
  api/src/utils/logger.ts
  api/tsconfig.json
  api/yarn-error.log
  api/yarn.lock
  docker-compose.yml
Due: eslint, prettier --ignore-unknown --write

Fix client project. Add husky script to lint and format changed directories on commit. Add scripts to inject and remove env for angular
  .eslintignore
  .eslintrc
  .husky/pre-commit
  api/.eslintrc
  api/package.json
  api/src/app.ts
  api/src/db/db-context.ts
  api/src/utils/error.ts
  api/src/utils/logger.ts
  client/.browserslistrc
  client/.eslintignore
  client/.eslintrc
  client/package.json
  client/scripts/clearEnv.ts
  client/scripts/setenv.ts
  client/src/app/app.component.ts
  client/src/app/app.module.ts
  client/src/app/services/api.service.ts
  client/src/assets/graph.svg
  client/src/assets/logo.svg
  client/src/assets/logo.svg:Zone.Identifier
  client/src/assets/person-laying.svg
  client/src/assets/person-laying.svg:Zone.Identifier
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
  client/tsconfig.json
  package.json
  yarn.lock
Due: eslint, prettier --ignore-unknown --write

Create scss variables, helper functions, and utility classes. Add bootstrap 5 support
  client/angular.json
  client/package.json
  client/src/assets/logo.svg:Zone.Identifier
  client/src/assets/person-laying.svg:Zone.Identifier
  client/src/scss/styles.scss
  client/src/scss/utils.scss
  client/src/scss/variables.scss
  client/src/styles.scss
  client/yarn.lock
Due: none

Create landing page header
  client/src/app/app-routing.module.ts
  client/src/app/app.component.html
  client/src/app/app.module.ts
  client/src/app/components/auth-button/auth-button.component.ts
  client/src/app/components/home/home.component.html
  client/src/app/components/home/home.component.scss
  client/src/app/components/home/home.component.ts
  client/src/app/components/landing/landing.component.html
  client/src/app/components/landing/landing.component.scss
  client/src/app/components/landing/landing.component.spec.ts
  client/src/app/components/landing/landing.component.ts
Due: eslint, prettier --ignore-unknown --write

Move components to app directory. Add common icon button component
  .husky/pre-commit
  client/package.json
  client/scripts/clearEnv.ts
  client/scripts/setenv.ts
  client/src/app/app-routing.module.ts
  client/src/app/app.component.html
  client/src/app/app.module.ts
  client/src/app/common/common.models.ts
  client/src/app/common/icon-button/icon-button.component.ts
  client/src/app/components/auth-button/auth-button.component.scss
  client/src/app/components/auth-button/auth-button.component.ts
  client/src/app/components/home/home.component.html
  client/src/app/components/home/home.component.scss
  client/src/app/components/home/home.component.ts
  client/src/app/landing/landing.component.html
  client/src/app/landing/landing.component.scss
  client/src/app/landing/landing.component.spec.ts
  client/src/app/landing/landing.component.ts
  client/src/app/services/env-provider.service.ts
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
  client/tsconfig.json
  client/yarn.lock
Due: eslint, prettier --ignore-unknown --write

Only run clear env on client changes
  .husky/pre-commit
Due: none

Add dashboard component
  client/angular.json
  client/package.json
  client/src/app/app-routing.module.ts
  client/src/app/app.module.ts
  client/src/app/dashboard/dashboard.component.html
  client/src/app/dashboard/dashboard.component.scss
  client/src/app/dashboard/dashboard.component.spec.ts
  client/src/app/dashboard/dashboard.component.ts
  client/src/environments/environment.ts
  client/src/scss/variables.scss
Due: eslint, prettier --ignore-unknown --write

Fix auth redirect
  .husky/pre-commit
  client/src/app/app-routing.module.ts
  client/src/app/dashboard/dashboard.component.html
  client/src/app/dashboard/dashboard.component.ts
  client/src/app/landing/landing.component.ts
  client/src/environments/environment.ts
Due: eslint, prettier --ignore-unknown --write

Fixed package.json w/ prettier, modified readme
  README.md
  client/package.json
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
Due: eslint, prettier --ignore-unknown --write

Reworked vscode debugging
  .vscode/launch.json
  .vscode/settings.json
  api.code-workspace
  api/package.json
  client.code-workspace
  client/src/environments/environment.prod.ts
  client/src/environments/environment.ts
Due: eslint, prettier --ignore-unknown --write

fixed code formatter for windows install on api package.json
  client/src/environments/environment.ts
Due: eslint, prettier --ignore-unknown --write

Fix debugging for esm modules
  .vscode/launch.json
  README.md
  api.code-workspace
  api/package.json
  api/tsconfig.json
  api/yarn.lock
  client.code-workspace
  client/Dockerfile
  client/package.json
  client/src/environments/environment.ts
  client/src/scss/utils.scss
  docker-compose.debug.yml
  docker-compose.yml
Due: eslint, prettier --ignore-unknown --write

Clear env
  client/src/environments/environment.ts
Due: eslint, prettier --ignore-unknown --write

Fix debugging for use with esm modules (#16)
  .husky/pre-commit
  .vscode/launch.json
  CHANGELOG.md
  README.md
  api.code-workspace
  api/package.json
  api/tsconfig.json
  api/yarn.lock
  client.code-workspace
  client/Dockerfile
  client/angular.json
  client/package.json
  client/src/app/app-routing.module.ts
  client/src/app/app.module.ts
  client/src/app/dashboard/dashboard.component.html
  client/src/app/dashboard/dashboard.component.scss
  client/src/app/dashboard/dashboard.component.spec.ts
  client/src/app/dashboard/dashboard.component.ts
  client/src/app/landing/landing.component.ts
  client/src/scss/utils.scss
  client/src/scss/variables.scss
  docker-compose.debug.yml
  docker-compose.yml
Due: eslint, prettier --ignore-unknown --write

Use cached diff to check for changes pre-commit
  .husky/pre-commit
Due: none

Add eslint plugins to root project and client
  .eslintignore
  .eslintrc
  client/package.json
  client/tsconfig.json
  client/yarn.lock
  package.json
  yarn.lock
Due: none

Only run pre-commit on staged changes
  .eslintrc
  .husky/pre-commit
  api/tsconfig.json
  client/src/app/landing/landing.component.ts
Due: eslint, prettier --ignore-unknown --write

Fix eslinting in vscode (#17)
  .eslintignore
  .eslintrc
  .husky/pre-commit
  api/tsconfig.json
  client/package.json
  client/src/app/landing/landing.component.ts
  client/tsconfig.json
  client/yarn.lock
  package.json
  yarn.lock
Due: eslint, prettier --ignore-unknown --write

Add tsoa and redoc for autogenerated openapi spec, autogenerated routs, and openapi doc preview
  .gitignore
  api/Dockerfile
  api/openapi/swagger.json
  api/package.json
  api/src/app.ts
  api/src/controllers/ping.controller.ts
  api/src/routes/pong.routes.ts
  api/src/routes/routes.ts
  api/src/utils/logger.ts
  api/tsconfig.json
  api/tsoa.json
  api/yarn-error.log
  api/yarn.lock
  client/Dockerfile
  common.docker.yml
  docker-compose.debug.yml
  docker-compose.yml
Due: eslint, prettier --ignore-unknown --write

feat: add commitlint
  .husky/commit-msg
  commitlint.config.cjs
  package.json
  yarn.lock
Due: none

chore: add commit script
  package.json
Due: none

Finish tsed setup. Add user routes
  server/package.json
  server/src/Server.ts
  server/src/controllers/index.ts
  server/src/controllers/ping/ping.ctrl.ts
  server/src/controllers/user.controller.ts
  server/src/controllers/users/users.ctrl.spec.ts
  server/src/controllers/users/users.ctrl.ts
  server/src/interfaces/common.interfaces.ts
  server/src/interfaces/user.interfaces.ts
  server/src/middleware/jwt.middleware.ts
  server/src/middlewares/jwt.middleware.ts
  server/yarn.lock
Due: eslint, prettier --ignore-unknown --write

Update husky pre-commit hooked for tsed project
  .husky/pre-commit
Due: none

Save api changes
  api/src/controllers/user.controller.ts
  api/src/db/repositories/user.repo.ts
  api/src/middlewares/cache.middleware.ts
  api/src/services/user.services.ts
Due: eslint, prettier --ignore-unknown --write
