Repository julianstephens/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --ignore-unknown --write

Update husky pre-commit hooked for tsed project
  .eslintrc
  .husky/pre-commit
  package.json
  server/.editorconfig
  server/index.ts
  server/package.json
  server/src/Server.ts
  server/src/config/index.ts
  server/src/controllers/users/users.ctrl.ts
  server/src/interfaces/common.interfaces.ts
  server/src/interfaces/user.interfaces.ts
  server/tsconfig.json
  yarn.lock
Due: eslint, prettier --ignore-unknown --write

Attempt jwt middleware
  server/src/config/envs/index.ts
  server/src/config/logger/index.ts
  server/src/index.ts
  server/src/middleware/jwt.middleware.ts
Due: eslint, prettier --ignore-unknown --write

Remove old api and docker config
  api/.eslintrc
  api/Dockerfile
  api/package.json
  api/prisma/migrations/20220922001912_init_db/migration.sql
  api/prisma/migrations/migration_lock.toml
  api/prisma/schema.prisma
  api/src/app.ts
  api/src/db/db-context.ts
  api/src/middlewares/error-handler.middleware.ts
  api/src/middlewares/jwt.middleware.ts
  api/src/routes/pong.routes.ts
  api/src/utils/error.ts
  api/src/utils/logger.ts
  api/tsconfig.json
  api/yarn-error.log
  api/yarn.lock
  docker-compose.debug.yml
  docker-compose.yml
Due: eslint, prettier --ignore-unknown --write

Update README.md
  README.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --ignore-unknown --write

feat(server): add redis caching to db calls. Start writing user ctrl tests
  docker-compose.yml
  server/jest.config.js
  server/package.json
  server/src/Server.ts
  server/src/config/helmet/index.ts
  server/src/config/redis/index.ts
  server/src/config/swagger/index.ts
  server/src/config/tsed/index.ts
  server/src/controllers/users/users.ctrl.spec.ts
  server/src/controllers/users/users.ctrl.ts
  server/src/middleware/cache.middleware.ts
  server/tsconfig.json
  server/yarn.lock
Due: eslint, prettier --ignore-unknown --write

feat(server): prevent Ts.ED from transpiling models. Add service layer to api structure
  .eslintrc
  package.json
  server/prisma/generated/tsed/client/index.js
  server/prisma/generated/tsed/client/index.ts
  server/prisma/generated/tsed/enums/Role.d.ts
  server/prisma/generated/tsed/enums/Role.js
  server/prisma/generated/tsed/enums/Role.ts
  server/prisma/generated/tsed/enums/index.js
  server/prisma/generated/tsed/enums/index.ts
  server/prisma/generated/tsed/index.js
  server/prisma/generated/tsed/index.ts
  server/prisma/generated/tsed/interfaces/index.d.ts
  server/prisma/generated/tsed/interfaces/index.js
  server/prisma/generated/tsed/interfaces/index.ts
  server/prisma/generated/tsed/models/UserModel.d.ts
  server/prisma/generated/tsed/models/UserModel.js
  server/prisma/generated/tsed/models/UserModel.ts
  server/prisma/generated/tsed/models/index.js
  server/prisma/generated/tsed/models/index.ts
  server/prisma/generated/tsed/repositories/UsersRepository.d.ts
  server/prisma/generated/tsed/repositories/UsersRepository.js
  server/prisma/generated/tsed/repositories/UsersRepository.ts
  server/prisma/generated/tsed/repositories/index.js
  server/prisma/generated/tsed/repositories/index.ts
  server/prisma/generated/tsed/services/PrismaService.d.ts
  server/prisma/generated/tsed/services/PrismaService.js
  server/prisma/generated/tsed/services/PrismaService.ts
  server/prisma/schema.prisma
  server/src/Server.ts
  server/src/controllers/users/users.ctrl.ts
  server/src/errors/common/invalidInput.error.ts
  server/src/interfaces/common.interfaces.ts
  server/src/interfaces/user.interfaces.ts
  server/src/services/user.service.ts
  server/yarn.lock
  yarn.lock
Due: eslint, prettier --ignore-unknown --write

feat(server): add get countries rest route
  server/prisma/generated/tsed/models/CountryModel.ts
  server/prisma/generated/tsed/models/UserModel.ts
  server/prisma/generated/tsed/models/index.ts
  server/prisma/generated/tsed/repositories/index.ts
  server/prisma/schema.prisma
  server/prisma/seed.ts
  server/src/controllers/countries/countries.ctrl.ts
  server/src/controllers/index.ts
  server/src/controllers/users/users.ctrl.ts
  server/src/services/user.service.ts
Due: eslint, prettier --ignore-unknown --write

test(server): add unit testing for users routes
  .eslintrc
  server/Dockerfile
  server/jest.config.js
  server/package.json
  server/prisma/generated/tsed/models/AddressModel.ts
  server/prisma/generated/tsed/models/CountryModel.ts
  server/prisma/generated/tsed/models/UserModel.ts
  server/prisma/migrations/20221025214639_add_missing_address_and_country_props/migration.sql
  server/prisma/schema.prisma
  server/src/controllers/users/users.ctrl.spec.ts
  server/src/controllers/users/users.ctrl.ts
  server/src/errors/common/idFormat.error.ts
  server/src/errors/common/invalidInput.error.ts
  server/src/errors/common/prisma.error.ts
  server/src/errors/index.ts
  server/src/interfaces/common.interfaces.ts
  server/src/interfaces/user.interfaces.ts
  server/src/services/user.service.ts
  server/src/utils/common.utils.ts
  server/tsconfig.json
Due: eslint, prettier --ignore-unknown --write

test(server): add unit tests for countries controller
  server/src/controllers/countries/countries.ctrl.spec.ts
  server/src/controllers/countries/countries.ctrl.ts
Due: eslint, prettier --ignore-unknown --write

chore: add dotenv-vault support
  .env.vault
  client/.env.vault
  server/.env.vault
Due: none

chore: update gitignore
  .gitignore
Due: none

fix: add updated openssl to server docker image
  server/Dockerfile
  server/prisma/generated/tsed/models/AddressModel.ts
  server/prisma/generated/tsed/models/UserModel.ts
  server/prisma/generated/tsed/models/index.ts
  server/prisma/generated/tsed/repositories/index.ts
  server/src/controllers/users/users.ctrl.ts
Due: eslint, prettier --ignore-unknown --write

feat: document dev env setup and server arch. move current sprint changelog to readme
  README.md
  docs/Server-Architecture.md
  docs/Setup-Dev-Environment.md
Due: prettier --ignore-unknown --write

refactor: use angular template instead of redirect route for register/login
  client/src/app/dashboard/dashboard.component.html
  client/src/app/dashboard/dashboard.component.ts
  client/src/app/landing/landing.component.html
  client/src/app/landing/landing.component.scss
  client/src/app/landing/landing.component.ts
  client/src/scss/styles.scss
  client/src/scss/utils.scss
  client/src/scss/variables.scss
  server/src/controllers/users/users.ctrl.ts
Due: eslint, prettier --ignore-unknown --write

feat: move linting and formatting to pre-push hook
  .husky/pre-commit
  .husky/pre-push
Due: none

fix: switch to always lint and format on pre-push hook
  .husky/pre-push
Due: none

fix: update gitignore
  .gitignore
  server/.gitignore
Due: none

merge dev
  .husky/pre-push
  docs/Server-Architecture.md
  docs/Setup-Dev-Environment.md
Due: prettier --ignore-unknown --write

feat: add sdk package
  sdk/package.json
  sdk/tsconfig.json
Due: none

feat(sdk): add user endpoint functions
  sdk/.editorconfig
  sdk/.eslintignore
  sdk/.eslintrc.js
  sdk/.prettierrc.js
  sdk/package.json
  sdk/src/index.ts
  sdk/src/interfaces/index.ts
  sdk/src/interfaces/users.interfaces.ts
  sdk/tsconfig.json
  sdk/yarn.lock
Due: eslint, prettier --ignore-unknown --write

refactor: use ngform for onboarding modal. check db for user before showing onboarding
  client/package.json
  client/src/app/app.component.html
  client/src/app/app.module.ts
  client/src/app/components/dashboard/dashboard.component.html
  client/src/app/components/dashboard/dashboard.component.ts
  client/src/app/services/api.service.ts
  client/src/app/services/index.ts
  client/src/app/services/tests/api.service.spec.ts
  client/src/app/services/tests/user.service.spec.ts
  client/src/app/services/user.service.ts
  client/src/app/shared/components/index.ts
  client/src/app/shared/components/loader.component.ts
  client/src/app/shared/components/onboarding-modal/onboarding-modal.component.html
  client/src/app/shared/components/onboarding-modal/onboarding-modal.component.scss
  client/src/app/shared/components/onboarding-modal/onboarding-modal.component.ts
  client/src/app/shared/interfaces/index.ts
  client/src/assets/loader.svg
  client/src/scss/styles.scss
  client/tsconfig.json
  client/yarn.lock
  sdk/src/index.ts
  sdk/src/interfaces/index.ts
  sdk/src/interfaces/users.interfaces.ts
  server/src/controllers/users/users.ctrl.ts
Due: eslint, prettier --ignore-unknown --write

refactor(sdk): move to angular service
  .null-ls_814785_.eslintrc
  client/package.json
  client/src/app/app.module.ts
  client/src/app/components/dashboard/dashboard.component.ts
  client/src/app/services/api.service.ts
  client/src/app/services/env-provider.service.ts
  client/src/app/services/index.ts
  client/src/app/services/tests/api.service.spec.ts
  client/src/app/services/tests/env-provider.service.spec.ts
  client/src/app/shared/components/onboarding-modal/onboarding-modal.component.ts
  client/src/app/shared/interfaces/index.ts
  client/src/app/shared/interfaces/users.interfaces.ts
  client/tsconfig.json
  client/yarn.lock
  sdk/.editorconfig
  sdk/.eslintignore
  sdk/.eslintrc.js
  sdk/.prettierrc.js
  sdk/package.json
  sdk/src/index.ts
  sdk/src/interfaces/index.ts
  sdk/tsconfig.json
  sdk/yarn.lock
Due: eslint, prettier --ignore-unknown --write

refactor(sdk): move to angular service
  .eslintrc
  client/package.json
  client/src/app/app.module.ts
  client/src/app/components/dashboard/dashboard.component.ts
  client/src/app/services/api.service.ts
  client/src/app/services/env-provider.service.ts
  client/src/app/services/index.ts
  client/src/app/services/tests/api.service.spec.ts
  client/src/app/shared/components/onboarding-modal/onboarding-modal.component.spec.ts
  client/src/app/shared/components/onboarding-modal/onboarding-modal.component.ts
  client/src/app/shared/interfaces/index.ts
  client/src/app/shared/interfaces/users.interfaces.ts
  client/tsconfig.json
  client/yarn.lock
  sdk/.editorconfig
  sdk/.eslintignore
  sdk/.eslintrc.js
  sdk/.prettierrc.js
  sdk/package.json
  sdk/src/index.ts
  sdk/src/interfaces/index.ts
  sdk/tsconfig.json
  sdk/yarn.lock
Due: eslint, prettier --ignore-unknown --write

refactor(m1 mac setup): mac Setup for docker
  .dockerignore
  .gitignore
  client/.gitignore
  client/src/environments/environment.ts
  package-lock.json
  server/.dockerignore
  server/.gitignore
  server/Dockerfile
  server/prisma/generated/tsed/models/AddressModel.ts
  server/prisma/schema.prisma
Due: eslint, prettier --ignore-unknown --write

refactor(m1 mac changes): needed Changes for the Mac Set up
  server/src/controllers/budget/budget.ctrl.ts
  server/src/interfaces/budget.interfaces.ts
Due: eslint, prettier --ignore-unknown --write

feat(created budget prisma): continued to add to the project for the prisma. Commiting for travel
  server/prisma/migrations/20221229011613_add/migration.sql
  server/src/controllers/index.ts
Due: eslint, prettier --ignore-unknown --write

feat(continue working on prisma schema): finished Schema and now working on the service
  server/prisma/schema.prisma
Due: none

feat(create-turbo): apply official-starter transform
  meta.json
  package.json
Due: none

feat(create-turbo): create basic
  .eslintrc.js
  .gitignore
  .npmrc
  README.md
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/next-env.d.ts
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/pages/index.tsx
  apps/docs/tsconfig.json
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/index.tsx
  apps/web/tsconfig.json
  meta.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tsconfig/base.json
  packages/tsconfig/nextjs.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/ui/Button.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint, prettier --ignore-unknown --write

chore: :hammer: update .gitignore
  .gitignore
Due: none

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-unknown --write: any of: *.{js,jsx,ts,tsx,md,html,css}
