Repository julianstephens/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --ignore-unknown --write

docs: :memo: update README
  README.md
  apps/web/README.md
  apps/web/src/environments/.null-ls_814785_environment.ts
Due: eslint, prettier --ignore-unknown --write

feat: :sparkles: add husky
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-unknown --write

docs: :memo: update README
  README.md
Due: prettier --ignore-unknown --write

feat(api): :sparkles: add jwt auth with auth0 and passport
  apps/api/package.json
  apps/api/src/app.controller.spec.ts
  apps/api/src/app.controller.ts
  apps/api/src/app.module.ts
  apps/api/src/app.service.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/jwt.strategy.spec.ts
  apps/api/src/auth/jwt.strategy.ts
  apps/api/src/dtos/api/index.ts
  apps/api/src/main.ts
  apps/api/src/services/user/user.service.ts
  apps/api/src/types/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.spec.ts
  apps/api/src/user/user.service.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint, prettier --ignore-unknown --write

docs: update README
  README.md
Due: prettier --ignore-unknown --write

feat: :sparkles: move api auth to app module. create db package
  .commitlintrc.js
  .npmrc
  apps/api/package.json
  apps/api/prisma/migrations/20230411232924_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
  apps/api/src/app.controller.ts
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/jwt.strategy.spec.ts
  apps/api/src/auth/jwt.strategy.ts
  apps/api/src/main.ts
  apps/api/src/types/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/web/src/environments/environment.ts
  package.json
  packages/db/.eslintrc.js
  packages/db/.gitignore
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/db/src/index.ts
  packages/db/tsconfig.json
  packages/db/tsup.config.ts
  packages/tsconfig/nextjs.json
  packages/tsconfig/node16.json
  packages/tsconfig/react-library.json
  pnpm-lock.yaml
  turbo.json
Due: eslint, prettier --ignore-unknown --write

docs: :memo: copy docs directory from main branch
  docs/Server-Architecture.md
  docs/Setup-Dev-Environment.md
Due: prettier --ignore-unknown --write

feat(db): :sparkles: auto-gen zod schemas for db validation
  package.json
  packages/db/.gitignore
  packages/db/package.json
  packages/db/prisma/schema.prisma
  packages/db/src/index.ts
  packages/db/src/types.ts
  packages/db/tsconfig.json
  packages/db/tsup.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --ignore-unknown --write

feat(api): :sparkles: add `/users` endpoint
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/app.module.ts
  apps/api/src/app.service.ts
  apps/api/src/dtos/account/index.ts
  apps/api/src/dtos/api/index.ts
  apps/api/src/dtos/item/index.ts
  apps/api/src/dtos/user/index.ts
  apps/api/src/prisma.service.ts
  apps/api/src/types/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  apps/api/src/utils/exceptions.ts
  apps/api/tsconfig.json
  apps/web/package.json
  apps/web/src/environments/environment.ts
  apps/web/tsconfig.json
Due: eslint, prettier --ignore-unknown --write

docs: :memo: update dev env setup instructions
  docs/Setup-Dev-Environment.md
Due: prettier --ignore-unknown --write

feat: :sparkles: add dotenv vault
  .env.vault
  .gitignore
Due: none

docs: :memo: update dotenv vault id
  docs/Setup-Dev-Environment.md
Due: prettier --ignore-unknown --write

Update Setup-Dev-Environment.md
  docs/Setup-Dev-Environment.md
Due: prettier --ignore-unknown --write

chore: :hammer: changes to .env files
  .env.vault
Due: none

chore: :hammer: scripting Fixes for enviroment
  docker-compose.yml
  package.json
  packages/db/package.json
  turbo.json
Due: none

refactor(web): :recycle: use ngx-build-plus for env var injection
  apps/api/src/types/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.service.ts
  apps/web/angular.json
  apps/web/package.json
  apps/web/src/app/app.module.ts
  apps/web/src/app/components/dashboard/dashboard.component.ts
  apps/web/src/app/services/api.service.ts
  apps/web/src/app/services/env-provider.service.ts
  apps/web/src/app/services/index.ts
  apps/web/src/app/services/tests/env-provider.service.spec.ts
  apps/web/src/app/shared/components/onboarding-modal/onboarding-modal.component.ts
  apps/web/src/app/shared/interfaces/index.ts
  apps/web/src/app/shared/types/index.ts
  apps/web/src/app/shared/types/users.ts
  apps/web/src/environments/environment.prod.ts
  apps/web/src/environments/environment.ts
  apps/web/src/index.html
  apps/web/src/main.ts
  apps/web/tsconfig.json
  apps/web/turbo.json
  apps/web/webpack.partial.js
  pnpm-lock.yaml
Due: eslint, prettier --ignore-unknown --write

fix: rename webpack config for esm support
  apps/web/package.json
  apps/web/webpack.partial.cjs
Due: none

feat: :sparkles: add commitlint hook
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --ignore-unknown --write

feat: :sparkles: add pre-commit hook for linting
  .husky/pre-commit
Due: none

feat(api): :sparkles: add link module
  apps/api/src/app.module.ts
  apps/api/src/link/link.controller.ts
  apps/api/src/link/link.module.ts
  apps/api/src/link/link.service.spec.ts
  apps/api/src/link/link.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.dto.ts
Due: eslint, prettier --ignore-unknown --write

feat(api): :sparkles: add bearer auth to swagger docs
  apps/api/src/main.ts
Due: eslint, prettier --ignore-unknown --write

fix: :bug: add env var dependencies to turbo config
  turbo.json
Due: none

feat(db): :sparkles: remove password field. add plaid uid
  packages/db/prisma/schema.prisma
Due: none

feat(api): :sparkles: create /auth/link endpoint for plaid auth
  .env.vault
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/app.module.ts
  apps/api/src/auth/auth.controller.ts
  apps/api/src/auth/auth.module.ts
  apps/api/src/auth/auth.service.spec.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/main.ts
  apps/api/src/plaid.service.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/user/user.dto.ts
  apps/api/src/user/user.module.ts
  apps/api/src/user/user.service.ts
  apps/api/src/utils/env.ts
  pnpm-lock.yaml
Due: eslint, prettier --ignore-unknown --write

feat(api): :sparkles: automatically set bearer token in swagger docs
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/auth/auth.service.ts
  apps/api/src/main.ts
  apps/api/src/types/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/utils/env.ts
  apps/web/scripts/setenv.ts
  pnpm-lock.yaml
Due: eslint, prettier --ignore-unknown --write

feat(api): :sparkles: automatically set bearer token in swagger docs
  apps/api/package.json
  apps/api/src/app.controller.ts
  apps/api/src/main.ts
  apps/api/src/types/index.ts
  apps/api/src/user/user.controller.ts
  apps/api/src/utils/env.ts
  apps/web/scripts/setenv.ts
  pnpm-lock.yaml
Due: eslint, prettier --ignore-unknown --write

fix(api): :bug: provide parsed env instead of zod object
  apps/api/src/utils/env.ts
Due: eslint, prettier --ignore-unknown --write

docs: update readme
  README.md
Due: prettier --ignore-unknown --write

docs: update readme
  .commitlintrc.cjs
  README.md
Due: prettier --ignore-unknown --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-unknown --write: any of: *.{js,jsx,ts,tsx,md,html,css}
