Repository julianstephens/flow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint",
  "*.{js,jsx,ts,tsx,md,html,css}": "prettier --ignore-unknown --write"
}

feat: add auth session endpoint
  next.config.js
  src/app/_components/authButtons.tsx
  src/app/api/auth/session/route.ts
  src/app/overview/page.tsx
  src/app/page.tsx
  src/env.js
  src/middleware.ts
  src/server/auth.ts
  src/utils/queries.ts
  tailwind.config.ts
Due: eslint, prettier --ignore-unknown --write

feat: create auth guard middleware
  .env.vault
  .eslintrc.cjs
  README.md
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/_components/DashboardHeader.tsx
  src/app/_components/Loader.tsx
  src/app/_components/auth/AuthButtons.tsx
  src/app/_components/auth/AuthProvider.tsx
  src/app/_components/auth/index.ts
  src/app/_components/authButtons.tsx
  src/app/_components/form/FieldWrapper.tsx
  src/app/_components/form/FormWrapper.tsx
  src/app/_components/form/TextField.tsx
  src/app/_components/form/index.ts
  src/app/_components/layouts/DashboardLayout.tsx
  src/app/auth/login/page.tsx
  src/app/auth/register/page.tsx
  src/app/layout.tsx
  src/app/overview/layout.tsx
  src/app/overview/page.tsx
  src/app/page.tsx
  src/assets/loader.svg
  src/env.js
  src/middleware.ts
  src/server/auth.ts
  src/server/db/schemas/usersAccounts.ts
  src/styles/globals.css
  src/trpc/react.tsx
  src/types/index.ts
  src/types/props.ts
  src/utils/queries.ts
  tailwind.config.ts
  tsconfig.json
Due: eslint, prettier --ignore-unknown --write

feat: add register user form
  src/app/_components/Brand.tsx
  src/app/_components/form/FieldWrapper.tsx
  src/app/_components/layouts/DashboardLayout.tsx
  src/app/auth/login/page.tsx
  src/app/auth/register/page.tsx
  src/styles/globals.css
  src/types/props.ts
  src/utils/helpers.ts
Due: eslint, prettier --ignore-unknown --write

docs: add workflows
  docs/workflows.md
Due: prettier --ignore-unknown --write

chore: update env
  .env.vault
Due: none

feat: add credentials provider for basic auth login
  src/app/_components/Brand.tsx
  src/app/_components/auth/AuthButtons.tsx
  src/app/_components/form/FieldWrapper.tsx
  src/app/_components/form/TextField.tsx
  src/app/auth/login/page.tsx
  src/app/auth/register/page.tsx
  src/app/page.tsx
  src/server/api/root.ts
  src/server/api/routers/userAccounts.ts
  src/server/auth.ts
  src/server/db/schemas/usersAccounts.ts
  src/styles/globals.css
  src/types/props.ts
  src/utils/helpers.ts
Due: eslint, prettier --ignore-unknown --write

feat: format auth pages
  package.json
  pnpm-lock.yaml
  src/app/auth/login/page.tsx
  src/app/auth/register/page.tsx
  src/server/api/routers/userAccounts.ts
  src/server/auth.ts
  src/server/db/schemas/usersAccounts.ts
  tsconfig.json
Due: eslint, prettier --ignore-unknown --write
